.product-box{
    position: relative;
    display: inline-block;
}

.product-box{
    position: relative;
    display: inline-block;
}

.product-box{
    position: relative;
    display: inline-block;
}

.product-box{
    position: relative;
    display: inline-block;
}
p{
    color: rgb(0, 0, 0);
}
b{
    color: peru;
}

.fa-star{
    color: chocolate;
}
