*{
  margin: 0%;
  padding: 0%;
}

@media (max-width:992px) {
  .navcart{
      display: none;
  }
  #navform{
      margin: 0 !important ;
  }
  
}

/* width */
::-webkit-scrollbar {
width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #a4c671 !important; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #96cc44 !important; 
}
.form-inputs {
position: relative

}

/* .hero{
    background-image: url(../Untitled\(2\).png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
} */
/* .hd{
    min-height: 590px;
    display: flex;
    flex-wrap: wrap;
} */
/* .coll1{
    flex-basis: 50%;
    flex-grow: 1;
    background-image: url(../photo-1596944924616-7b38e7cfac36.jpg);
    background-size: cover;
    background-position: center;
    
}
.coll2{
    flex-basis: 50%;
    flex-grow: 1;
   background-image: url(../b6ac2308a13ba063fe20748700cb920c--beauty-photography-product-photography.jpg);
    background-size: cover;
    background-position: center;
} */

/* .collection{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 10px;
} */
/* .maincontainer{
    
         margin-top: 13px;
        width: 100%;
        height: 645px; 
         background-image: url(../Untitled\(2\).png);
        background-position: center;
        background-size: cover;
        display: table;
        background-attachment: fixed; 
    } */
    .text-box {
            width: 90%;
            color: blanchedalmond;
            position: relative;
            top: -70px;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
    }
    @media(max-width: 775px){
        .text-box{
            width: 50%;color: blanchedalmond;
            position: relative;
            /* top: -10px; */
            left: 50%;
            transform: translate(-50%,-50%);
            /* text-align: center; */
            font-size: 10px;
        }
    }

    @media(max-width: 560px){
        .text-box{
            width: 40%;color: blanchedalmond;
            position: relative;
            top: -30px;
            left: 50%;
            transform: translate(-50%,-50%);
            /* text-align: center; */
            font-size: 10px;
        }
    }

    

    .text-box a{
        color: rgb(0, 0, 0);
        font-family: 'M PLUS 2', sans-serif;
        font-weight: 700;
    }
    .text-box a:hover{
        background-color:#bdaf8a;
        transition: 0.5s;
        border: 2px solid #bdaf8a;
        font-weight: 700;
        color: white;
    }

    .hero-button1{
        display: inline-block;
        text-decoration: none;
        border: 2px solid #f9f7ee;
        padding: 10px 50px;
        background-color: #f9f7ee;
    }

@media(max-width:1900px){
    .card{
        margin: auto;
  
    }
   
  }
  @media(max-width:576px){
    .card{
        
        margin: auto;
    }
 
  }
  .card{
      border: none !important;
  }

  .horizontal-heading {
    font-family: sans-serif;
    font-size: 35px;
    max-width: 650px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #78bb7b;
    font-family: 'Roboto', sans-serif;
  }

  .horizontal-heading::before {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    position: absolute;
    background: #000;
    left: 20px;
    top: 50%;
    z-index: -2;
  }

  .horizontal-heading::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    position: absolute;
    background: #000;
    right: 20px;
    top: 50%;
    z-index: -2;

  }

  .horizontal-heading span {
    background: #fff;
  }
  @media (max-width:767px) {
      .horizontal-heading{
          font-size: 25px;
      }
      
  }
  @media (max-width:495px) {
    .horizontal-heading{
        font-size: 20px;
    }
    
}
@media (max-width:435px) {
    .horizontal-heading{
        font-size: 15px;
    }
    
}
@media (max-width:367px) {
    .horizontal-heading{
        font-size: 13px;
    }
    .horizontal-heading::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        position: absolute;
        background: #000;
        left: 20px;
        top: 50%;
        z-index: -2;
      }
    
      .horizontal-heading::after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        position: absolute;
        background: #000;
        right: 20px;
        top: 50%;
        z-index: -2;
    
      }
    
}
.dd{
    display: flex;
    justify-content: start;
    align-items: flex-start;

    justify-content: start;
    padding: 50px 20px;
}
.dd p{
    text-align: center;
}



.sld{
    width: 100%;
    height: 100vh;
    /* background-image: url(../images/greenbg.jpg), */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hide-scroll 5s backwards;
  }
  
  @keyframes hide-scroll {
    0% { overflow: hidden; } 
    100% { overflow: auto; }
  }
  
  .container {
    width: 100%;
    height: 80%;
  }
  
  .carousel {
    border-radius: 50px;
  }
  
  .carousel-inner, .carousel, .carousel-item, .carousel-container {
    height: 100%;
    border-radius: 50px;
    width: 100%;
    background-position: center center;
    background-size: cover;
  }
  
  .carousel-item-prev:not(.carousel-item-end), .active.carousel-item-start {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
  }
  
  .carousel-item-next:not(.carousel-item-start), .active.carousel-item-end {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
  }
  
  .carousel-indicators {
    top: 0;
    margin: auto;
    height: 20px;
    right: 10px;
    left: auto;
    display: block;
  }
  
  .carousel-indicators [data-bs-target] {
    background: none;
    border: 2px solid white;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    margin-bottom: 5px;
  }
  
  .carousel-indicators li.active {
    background: white;
  }
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: -1;
  }
  
  .carousel-control-prev-icon {
    top: 5%;
  }
  
  .unclickable {
    pointer-events: none;
  }
  
  .clickable {
    pointer-events: all;
  }
  
  .btn-style {
    border-color: white;
    content: url("./images/GitHub-Mark-Light-120px-plus.png");
    width: calc(1.475rem + 2.7vw);
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 4px;
  }
  
  .btn-style:hover {
    background-color: black;
    content: url("./images/GitHub-Mark-Light-120px-plus.png");
    width: calc(1.475rem + 2.7vw);
  }
  
  .img-style {
    width: calc(1.475rem + 2.7vw);
  }
  
  .img-style:hover {
    width: calc(1.475rem + 2.7vw);
  }
  
  .roll-in-blurred-right {
      -webkit-animation: roll-in-blurred-right 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
              animation: roll-in-blurred-right 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  }
  /* ----------------------------------------------
   * Generated by Animista on 2022-2-15 0:50:8
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation roll-in-blurred-right
   * ----------------------------------------
   */
   @-webkit-keyframes roll-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) rotate(720deg);
              transform: translateX(1000px) rotate(720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes roll-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) rotate(720deg);
              transform: translateX(1000px) rotate(720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

.shopnow{
  /* background-color: #dcecc2; */
  border: 1px solid #d1eda4;
   text-align: center;
   color: #dcecc2;
   text-decoration: none;
   font-weight: bold;
}
.shopnow:hover{
  background-color: #dcecc2;
  color: white;
  transition: 0.5s;
}

@media (max-width:991.5px) {
  .gall{
    margin-top: 40px;
  }
  
}
.card-img-top:hover{
  opacity: 0.7;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #eaeaea;
  min-width: 165px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  margin-left: 20px;
  z-index: 1;

}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}
.customdropdown{
  cursor: pointer;
}
.dp{
  text-decoration: none;
  color: #6a6a6a;
}
.dp:hover{
  color: #000 !important;

}

/* For Cards */

.product-grid{
    font-family: 'Antic Slab', serif;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.product-grid:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.2); }
.product-grid .product-image{
    overflow: hidden;
    position: relative;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-sale-label{
    color: #fff;
    background-color: red;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 6px 9px;
    position: absolute;
    left: 7px;
    top: 7px;
}
.product-grid .product-links{
    width: 50px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transition: all 0.4s ease;
}
.product-grid:hover .product-links{ opacity: 1; }
.product-grid .product-links li{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: translateX(-50px);
    filter: blur(5px);
    transition: all 0.4s ease 0s;
}
.product-grid .product-links li:nth-child(even){ transform: translateX(50px); }
.product-grid:hover .product-links li{
    filter: blur(0);
    transform: translateX(0);
}
.product-grid .product-links li a{
    color: #666;
    background: rgba(255,255,255,0.9);
    font-size: 16px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    display: block;
    transition: all 0.3s ease 0s;
}
.product-grid .product-links li a:hover{
    color: #fff;
    background: #696969;
}
.product-grid .product-content{
    background-color: #fff;
    padding: 15px 10px 3px;
}
.product-grid .title{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.product-grid .title a{
    color: black;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color:  red;
    ; }
.product-grid .rating{
    width: 80px;
    padding: 0;
    margin: 0 0 9px;
    list-style: none;
    vertical-align: top;
    display: inline-block;
}
.product-grid .rating li{
    color: gold;
    font-size: 11px;
    display: inline-block;
}
.product-grid .rating li.far{ color: #777; }
.product-grid .price{
    color: #76b713;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    width: calc(100% - 85px);
    display: inline-block;
}
.product-grid .price span{
    color: rgb(236, 11, 11);
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
}
@media screen and (max-width:990px){
    .product-grid{ margin: 0 0 30px; }
}
@media(max-width:576px){
    .product-grid{
        width: 250px;
        margin: auto;
    }
}
.cardt{
    
    text-decoration: none;
    
}


/* Bread Crumb */


#bd{
  text-decoration: none;
  padding: 1%;
 
  border-top: 1px solid #000;
  border-bottom: 1px solid black;
 
}

.bc{
  text-decoration: none;
  color: rgb(194, 194, 194);
  
}
.bc:hover{
  color: rgb(63, 63, 63);
}
/* bread Crumb End */



.modal-5 {
  position: relative;
}
.modal-5:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 35px;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #dcecc200), color-stop(40%, #dcecc2a8), color-stop(50%, #dcecc2a8), color-stop(60%, #dcecc2a8), color-stop(100%, #dcecc200));
  background-image: -moz-linear-gradient(left, #dcecc200 0%, #dcecc2a0 40%, #dcecc2a2 50%, #dcecc2ae 60%, #dcecc200 100%);
  background-image: -webkit-linear-gradient(left, #dcecc200 0%, #dcecc2a9 40%, #dcecc2a9 50%, #dcecc2a9 60%, #dcecc200 100%);
  background-image: linear-gradient(to right, #dcecc200 0%, #dcecc2a9 40%, #dcecc2a9 50%, #dcecc2a9 60%, #dcecc200 100%);
}
.modal-5 a {
  color: #78bb7b;;
  padding: 13px 5px 5px;
  margin: 0 10px;
  position: relative;
}
.modal-5 a:hover {
  color: #8de805;
}
.modal-5 a:hover:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  /* background: #78bb7b; */
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  z-index: -1;
  left: -3px;
  bottom: 4px;
  margin: auto;
}
.modal-5 a.next, .modal-5 a.prev {
  color: #78bb7b;
}
.modal-5 a.next:hover, .modal-5 a.prev:hover {
  color: #fff;
}
.modal-5 a.next:hover:after, .modal-5 a.prev:hover:after {
  display: none;
}
.modal-5 a.active {
  background: #a4c671;
  color: #fff;
}
.modal-5 a.active:before {
  content: "";
  position: absolute;
  top: -11px;
  left: -10px;
  width: 18px;
  border: 10px solid transparent;
  border-bottom: 7px solid #78bb7b;
  z-index: -1;
}
.modal-5 a.active:hover:after {
  display: none;
}

.product-content{
  background-color: #dcecc24f !important;
}

/* Loader */

.load{

  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;

}
.start{
 
  /* background-image: url(/Loader/Double\ Ring-1s-200px.gif); */
  height: 200px;
  width: 200px;
  position: relative;
  left: 42%;
  top: 36%;
  background-repeat: no-repeat;

}
@media (max-width:1150px) {
  .start{
      margin-left: -10px;
      
  }

}
@media (max-width:1100px) {
  .start{
      margin-left: -20px;
      
  }

}
@media (max-width:1050px) {
  .start{
      margin-left: -20px;
      
  }

}
@media (max-width:1000px) {
  .start{
      margin-left: -25px;
      
  }

}
@media (max-width:950px) {
  .start{
      margin-left: -30px;
      
  }

}

@media (max-width:900px) {
  .start{
      margin-left: -20px;
  }
  .ldd{
      width: 180px;

  }
}
@media (max-width:850px) {
  .start{
      margin-left: -24px;
      
  }

}
@media (max-width:800px) {
  .start{
      margin-left: -23px;
      
  }

}
@media (max-width:768px) {
   .start{
       margin-left: -20px;
   }
   .ldd{
       width: 160px;
   }
}
@media (max-width:720px) {
  .start{
      margin-left: -24px;
      
  }

}
@media (max-width:700px) {
  .start{
      margin-left: -24px;
      
  }

}
@media (max-width:650px) {
  .start{
      margin-left: -29px;
      
  }

}
@media (max-width:600px) {
  .start{
      margin-left: -33px;
      
  }

}
@media (max-width:550px) {

  .start{
      margin-left: -38px;
  }
 
}
@media (max-width:500px) {

  .start{
      margin-left: -32px;
  }
  .ldd{
      width: 140px;
  }
}
@media (max-width:450px) {

  .start{
      margin-left: -36px;
  }
 
}

@media (max-width:400px) {

  .start{
      margin-left: -29px;
  }
  .ldd{
      width: 120px;
  }
}
@media (max-width:350px) {

  .start{
      margin-left: -33px;
  }
 
}
   
@media (max-width:300px) {

  .start{
      margin-left: -27px;
      
  }
  .ldd{
      width: 100px;
  }
}
   
#navbar_top{
  display: none;
}

/* LOADER END */